.footer {
  margin-top: 100px;
  background: #070b15;
  border-top: 1px solid rgba(255,255,255,0.06);
}

.footerContainer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 70px 30px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

/* logo */

.footerLogo {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
}

/* títulos */

.footerCol h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  color: white;
}

/* textos */

.footerCol p {
  font-size: 14px;
  line-height: 1.7;
  color: #a7acb8;
}

/* lista */

.footerCol ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerCol li {
  font-size: 14px;
  margin-bottom: 10px;
  color: #a7acb8;
  cursor: pointer;
  transition: all 0.2s ease;
}

.footerCol li:hover {
  color: white;
  transform: translateX(3px);
}

/* autor */

.footerAuthor {
  margin-top: 8px;
  font-weight: 500;
  color: #d0d5df;
}

/* linha inferior */

.footerBottom {
  border-top: 1px solid rgba(255,255,255,0.05);
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: #7f8796;
}

/* RESPONSIVO */

@media (max-width: 900px) {

  .footerContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

}

@media (max-width: 600px) {

  .footerContainer {
    grid-template-columns: 1fr;
  }

}